* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  background-color: rgb(126, 25, 25);
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons button {
  color: white;
  background-color: rgb(126, 25, 25);
  border: none;
  border-radius: 14px;
  width: 80px;
  height: 50px;
  margin: 50px;
}
main {
  width: 100%;
  color: rgb(126, 25, 25);
  border: 1px solid rgba(126, 25, 25, 0.2);
  box-shadow: 2px 1px 1px 1px rgb(126, 25, 25);
  margin: 5px;
  padding: 5px;
}
h1,
h2,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  width: 49%;
  color: rgb(126, 25, 25);
  border: 1px solid rgba(126, 25, 25, 0.2);
  box-shadow: 2px 1px 1px 1px rgb(126, 25, 25);
  margin: 5px;
  padding: 5px;
  height: 125px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(126, 25, 25);
  color: white;
  height: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}
table tr:nth-child(2n) {
  background-color: rgb(224, 154, 154);
}
table * {
  padding: 10px;
}
.wyniki {
  text-align: right;
  color: rgb(126, 25, 25);
}
td {
  border: 1px solid #000;
}
.last {
  font-weight: bold;
  color: black;
}
.razem {
  text-align: right;
}
.bd {
  border: none;
  box-shadow: none;
}

.zdjecia {
  display: flex;
  justify-content: center;
  align-items: center;
}
